@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
}

body {
    font-family: 'Nunito', sans-serif;
}

html {
  zoom: 0.85;
  overflow-x: hidden;
  height: 80%;
}

#wrapper {
  zoom: 0.99;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

.card-height {
  height: 600px;
  max-height: 600px;
  overflow: hidden;
}

.container-fluid{
  margin-bottom: 0;
  padding-bottom: 8px;
}

.container-fluid,
.row{
  margin-bottom: 0;
  padding-bottom: 8px;
}


.dropdown-menu {
  position: absolute !important;
  /* Ensure it respects positioning */
  transform: none !important;
  /* Reset transform */
  z-index: 1050;
  /* Ensure it appears on top */
  margin-top: 30px;
  /* Avoid unwanted shifts */
}

.dropdown-menu-right {
  right: auto;
  /* Allow JavaScript to manage positioning */
  left: auto;
  /* Override Bootstrap's alignment */
}



::-webkit-scrollbar {
    height: 6px;
    width: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 2px;
    background: linear-gradient(to bottom, #6DD5FA, #2980B9);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #b0b0b0;
  }


.tab {
    overflow: hidden;
    background-color: #ddd;
}
  
.tab button {
    background-color: inherit;
    font-weight: bolder;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 0.875rem;
}

.tab button:hover {
    background-color: #ddd;
    color: #111;
}

.tab button.active {
    background-color: #ccc;
    color: #111;
}

.tabcontent {
    display: none;
    border-top: none;
}

.modal-body input,
.modal-body select {
    width: 100%;
    height: 35px;
}

.modal-body label {
    display: block;
    margin-bottom: 5px;
}

.custom-hr {
    background-color: black;
    height: 2px;
    border: none;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.751);
    z-index: 9999;
}

.loader {
    --w:10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #fff;

    text-shadow: 
            calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
            calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff;
    animation: l20 2s infinite linear;
}

.loader:before {
    content:"Loading...";
}
  
@keyframes l20 {
    9.09% {text-shadow: 
          calc( 0*var(--w)) -10px #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    18.18% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) -10px #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    27.27% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) -10px #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    36.36% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) -10px #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    45.45% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) -10px #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    54.54% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) -10px #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    63.63% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) -10px #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    72.72% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) -10px #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) 0 #fff}
    81.81% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) -10px #fff,calc(-9*var(--w)) 0 #fff}
    90.90% {text-shadow: 
          calc( 0*var(--w)) 0 #fff,calc(-1*var(--w)) 0 #fff,calc(-2*var(--w)) 0 #fff,calc(-3*var(--w)) 0 #fff,calc(-4*var(--w)) 0 #fff, 
          calc(-5*var(--w)) 0 #fff,calc(-6*var(--w)) 0 #fff,calc(-7*var(--w)) 0 #fff,calc(-8*var(--w)) 0 #fff,calc(-9*var(--w)) -10px #fff}
}

.dropdown-menu {
    width: 100%;
}


.table-responsive thead th {
    position: sticky;
    top: 0;
    z-index: 0;
    background-color: #fff;
}

.max-height-380 {
    max-height: 380px;
  }

.max-height-500{
  max-height: 450px;
}

.max-height-300 {
    max-height: 300px;
}


.form-check-label {
    color: #6c757d; /* Bootstrap's text-muted color */
    transition: color 0.3s ease;
  }
  
  input[type="radio"]:checked + .form-check-label {
    color: #343a40; /* Darker text for the selected radio */
    font-weight: bold; /* Optional: Make it bold for emphasis */
  }
  
  input[type="radio"] {
    accent-color: #0a6fae97; /* Change radio button color */
  }

  /* file upload button */
input[type="file"]::file-selector-button {
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #4e73df;
    color: white;
    padding-bottom: 10px;
    border: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
    color: black;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
    color: black;
  }

  /* Apply a fixed width to the "Field Name" column */
  table {
  table-layout: fixed;
  }

td .scrollable-content {
  width: 100%; /* This makes the content take up the entire width of the cell */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent text wrapping */
}


.empty-row {
  border: none; /* Remove borders */
  height: 20px; /* Optional: Adjust height */
  background-color: transparent; /* Ensure no background color */
}

.empty-row td {
  border: none; /* Remove cell borders */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.nav-tabs .nav-link.active {
  background-color: lightblue; /* Set the background color of the active tab */
  color: #000000; /* Optional: Set the text color */
  border-color: lightblue lightblue #dee2e6; /* Adjust borders for seamless integration */
}

.nav-tabs .nav-link {
  color: #000; /* Optional: Set the default text color for inactive tabs */
}